<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23380906979-clvua7e5l0o78o41jpqj9kpp7n3kqknu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23380906979-clvua7e5l0o78o41jpqj9kpp7n3kqknu</string>
	<key>API_KEY</key>
	<string>AIzaSyBLBA6vfytcxER-lxtJoIe0KEESPEAo8vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>23380906979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>weets.HitList</string>
	<key>PROJECT_ID</key>
	<string>hitlist-da10d</string>
	<key>STORAGE_BUCKET</key>
	<string>hitlist-da10d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23380906979:ios:eb2c9028361629a3ed46d6</string>
	<key>DATABASE_URL</key>
	<string>https://hitlist-da10d.firebaseio.com</string>
</dict>
</plist>